@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IM Fell English SC", serif;
  cursor: url("./assets/cursor.cur"), auto;
}

:root {
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #f0f0f0;
  letter-spacing: 0.05rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  height: 100dvh;
  margin: 0;
  background-color: #0d0f0e;
  color: #d7d7d7;
  position: relative;
  overflow: hidden;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35;
  pointer-events: none;
  z-index: 9999;
}
input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader {
  margin-bottom: -4px;
  margin-left: 10px;
  font-size: 20px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
